/* 
h1{
    color: tomato;
    text-align: center;
}
p{
    text-align: center;
}
hr{
    width: 25%;
} */

h1{
    text-align: center;
    margin-bottom: 0;
}
p{
    text-align: center;
    margin-top: 1px;
}
.img_section{
    text-align: center;
}
table{
    width: 50%;
}
